---
import Card from "../components/Card.astro"
import BaseLayout from "../layouts/BaseLayout.astro"

// Fetch all articles and sort them by pubDate
const allArticles = (await Astro.glob("./articles/*.{md,mdx}")).sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
)

// Separate featured and regular articles
const featuredArticle = allArticles.find(article => article.frontmatter.featured)
const regularArticles = allArticles.filter(article => !article.frontmatter.featured).slice(0, 4)
---

<BaseLayout title="Portfolio" description="New description">
  <section>
    <h1>I design and optimise digital experiences.</h1>

    <h2>Featured article</h2>
    {featuredArticle && (
      <Card
        title={featuredArticle.frontmatter.title}
        href={featuredArticle.url}
        img={featuredArticle.frontmatter.heroImage}
        intro={featuredArticle.frontmatter.description}
      />
    )}

    <h2>Recent articles</h2>
    {/* Loop through regular articles and generate cards */}
    <div class="cards">
      {
        regularArticles.map((article) => (
          <Card
            title={article.frontmatter.title}
            href={article.url}
            img={article.frontmatter.heroImage}
            intro={article.frontmatter.description}
          />
        ))
      }
    </div>
    <a href="/articles">View all articles</a>
  </section>
</BaseLayout>

<style>
  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1.2rem;
    padding: 0;
  }
</style>