---
import { Image } from 'astro:assets';

export interface Props {
  title: string;
  href: string;
  img: string;
  intro: string;
}

const { title, href, img, intro } = Astro.props;
---

<div class="card">
  <a href={href}>
    <Image src={img} alt={title} width={920} height={350}  />
    <h3>{title}</h3>
    <p>{intro}</p>
  </a>
</div>

<style>
  .card {
    display: flex;
    width: 100%;
  }

  .card > a {
    text-decoration: none;
    line-height: 1.4;
  }

  .card:hover h3 {
    color: #e97cff;
  }

  .image {
    border-radius: 1rem;
    /* You can adjust other styles here if needed */
  }
</style>
