---
import BaseLayout from "../layouts/BaseLayout.astro";

export interface Props {
  content: {
    title: string;
    description: string;
    pubDate?: string;
    updatedDate?: string;
  };
}

const {
  content: { title, description, pubDate, updatedDate },
} = Astro.props;
---

<BaseLayout title={title} description={description}>
  <section>
    <h1 class="title">{title}</h1>

    {pubDate && <time>{pubDate}</time>}
    {
      updatedDate && (
        <div>
          Last updated on <time>{updatedDate}</time>
        </div>
      )
    }

    <slot />
  </section>
</BaseLayout>
