---
import { Image } from 'astro:assets'

import BaseLayout from "../layouts/BaseLayout.astro"

export interface Props {
  content: {
    title: string;
    description: string;
    pubDate?: string;
    heroImage?: string;
  };
}

const {
  content: { title, description, pubDate, heroImage },
} = Astro.props
---

<BaseLayout title={title} description={description}>
  <section>

    <!-- Hero Image conditionally rendered -->
    {
      heroImage && (
        <div class="hero">
          <Image src={heroImage} alt={title} width={920} height={350}  />
        </div>
      )
    }
    
    <h1 class="title">{title}</h1>
    
    <p>
    {pubDate && <time>{pubDate}</time>}
    </p>

    <slot />
  </section>
</BaseLayout>

<style>
  .hero {
    margin-top: 20px;
  }
</style>